
@page "/notes"
@using Microsoft.IdentityModel.Tokens
@using TechNotes.Application.Notes.GetNoteById
@attribute [StreamRendering]
@* @inject INoteService NoteService; *@
@inject ISender Sender;

<PageTitle>Notas</PageTitle>
<h3>Notas</h3>

<a href="/note-editor" class="btn btn-primary">Crear Nota</a>

@if(notes == null)
{
    <p>Cargando las notas...</p>
}
else if(notes.Count == 0)
{
    <p>No existen notas</p>
}
else
{
    @foreach(var note in notes)
    {
        <h4><button OnClick="HandleClick">@note.Title</button></h4>
        <p>@note.Content</p>
        <small>@note.CreatedAt</small>
        <a href="/note-editor/@note.Id">Editar nota</a>
    }
}

@code {
    private List<NoteResponse>? notes = new List<NoteResponse>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        var result = await Sender.Send(new GetNotesQuery());
        if(result is not null)
        {
            notes = result.IsSuccessful ? result.Value : new List<NoteResponse>();
        }
        

    }
    private NoteModel Note { get; set; } = new NoteModel();

    private async Task HandleClick()
    {
        var command = Note.Adapt<GetNoteByIdQuery>();
        command.Id = 1;
        var result = await Sender.Send(command);
        Console.WriteLine(result.ToString());
    }
}
